<nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-3 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Left Arrow</h5>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-3 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Search</h5>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-3 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Num Box</h5>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-3 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Right Arrow</h5>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://national-park-posters.com">national-park-posters.com</a>
      </div>
</nav>
