<!-- <app-header></app-header> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!-- <app-add-poster></app-add-poster> -->
      <!-- <app-info-area></app-info-area> -->
      <!-- <form (ngSubmit)="onAddPoster(f)" #f="ngForm">
        <hr>
        <label for="park">Park Name: </label>
        <input type="text" name="name" ngModel [value]="name">{{name}}
        <hr> Url:
        <input type="text" name="url" ngModel [value]="url">{{url}}
        <hr> State:
        <input type="text" name="state" ngModel [value]="state">{{state}}
        <hr> Shop:
        <input type="number" name="shop" ngModel [value]="shop">{{shop}}
        <hr> Description:
        <textarea name="text" rows="8" cols="80" [value]="text" ngModel></textarea>
        <button class="btn btn-primary">Save</button>
      </form>
      <button class="btn btn-primary" (click)="onGet()">Get Posters</button> -->

      <router-outlet></router-outlet>
    </div>
  </div>


  <form (ngSubmit)="onSearch(g)" #g="ngForm" class="input-group col-md-4">
    <label for="search">Search Park:</label>
    <input class="form-control py-2 border-right-0 border" type="search" name="search" ngModel [value]="search" #focus>

    <span class="input-group-append">
        <button class="btn btn-outline-secondary border-left-0 border" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    <hr>
  </form>

  <div>
    <!-- <ul class="list-group" *ngFor="let poster of filteredPosters"> -->


    <ng-container>
      <img src="{{filteredPosters[posterNav].url}}" alt="hi">
      <div class="list-group-item"
      *ngIf="expanded == true"
      >{{ filteredPosters[posterNav].name  }}
        <hr>
        {{filteredPosters[posterNav].text }}
        <!-- <button class="btn btn-outline-info btn-sm"> -->
        <hr>
          <a href="https://www.national-park-posters.com/cart/?add-to-cart={{filteredPosters[posterNav].shop}}">
            <i class="fa fa-cart-plus fa-size-3x fa-3x"></i>
          </a>
        <!-- </button> -->
      </div>
  </ng-container>


    <!-- </ul> -->
  </div>

  <!-- <app-footer></app-footer> -->
  <div class="card text-center">
    <div class="card-body">
      <div class="card-title">
        <i class="fa fa-arrow-left col-3" (click)="onLeft()"></i>

        <i class="fa fa-info-circle col-3 mr-2"
        placement="top"
         [ngbPopover]="popContent" [popoverTitle]="popTitle"
        ></i>

        <ng-template #popTitle>
          {{ filteredPosters[posterNav].name }}</ng-template>
        <ng-template #popContent>
          {{filteredPosters[posterNav].text }}
          <hr>
            <a href="https://www.national-park-posters.com/cart/?add-to-cart={{filteredPosters[posterNav].shop}}">
              <i class="fa fa-cart-plus fa-size-3x fa-3x"></i>
            </a>
        </ng-template>

        <!-- <button type="button" class="btn btn-outline-secondary mr-2" placement="top"
        ngbPopover="{{filteredPosters[posterNav].text }}" popoverTitle="{{ filteredPosters[posterNav].name }}">
          Info
        </button> -->

        <div class="fa resBox">
          {{this.filteredPosters.length || 0 }}</div>
        <i class="fa fa-arrow-right col-3" (click)="onRight()"></i>
      </div>
    </div>
    <div class="container-fluid card-footer text-center">
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://national-park-posters.com">national-park-posters.com</a>
      </div>
    </div>
  </div>
