<!-- <app-header></app-header> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!-- <app-add-poster></app-add-poster> -->
      <!-- <app-info-area></app-info-area> -->
      <!-- <form (ngSubmit)="onAddPoster(f)" #f="ngForm">
        <hr>
        <label for="park">Park Name:</label>
        <input type="text" name="name" ngModel [value]="name">{{name}}
        <hr> Url:
        <input type="text" name="url" ngModel [value]="url">{{url}}
        <hr> Description:
        <textarea name="text" rows="8" cols="80" [value]="text" ngModel></textarea>
        <button class="btn btn-primary">Save</button>
      </form>
      <button class="btn btn-primary" (click)="onGet()">Get Posters</button> -->

      <router-outlet></router-outlet>
    </div>
  </div>


  <form (ngSubmit)="onSearch(g)" #g="ngForm" class="input-group col-md-4">
    <label for="search">Search Park:</label>
    <input class="form-control py-2 border-right-0 border" type="search" name="search" ngModel [value]="search" #focus>

    <span class="input-group-append">
        <button class="btn btn-outline-secondary border-left-0 border" type="button">
            <i class="fa fa-search"></i>
        </button>
      </span>
    <hr>
  </form>

  <div>
    Posters!
    <!-- <ul class="list-group" *ngFor="let poster of filteredPosters"> -->
      <li class="list-group-item">{{ filteredPosters[posterNav].name }} (Description: {{ filteredPosters[posterNav].text }})</li>
      <img src="{{filteredPosters[posterNav].url}}" alt="hi">
    <!-- </ul> -->
  </div>

  <!-- <app-footer></app-footer> -->
  <div class="card text-center">
    <div class="card-body">
      <div class="card-title">
        <i class="fa fa-arrow-left col-3" (click)="onLeft()"></i>
        <i class="fa fa-search col-3" (click)="onFocus()"></i>
        <div class="fa resBox">{{this.filteredPosters.length}}</div>
        <i class="fa fa-arrow-right col-3" (click)="onRight()"></i>
      </div>
    </div>
    <div class="container-fluid card-footer text-center">
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://national-park-posters.com">national-park-posters.com</a>
      </div>
    </div>
  </div>
